<%= form_for order_item, class: 'form-inline', remote: true do |f| %>
          <div class="col-sm-6">
            <%= f.label "Quantity" %>
          </div>
          <div class="col-sm-6">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          </div>
            <%= f.hidden_field :product_id, value: product['id'] %>
            <%= f.hidden_field :product_name, value: product['name'] %>
            <%= f.hidden_field :product_price, value: product['price'] %>
          <div id="add-to-cart-index" class='pull-right'>
            <%= f.submit "Add to Cart", class: "btn btn-primary", data: { confirm: "Add #{product['name']} to cart?" } %>
          </div>
      <% end %>
